extends ../layout

block content
  h1 #{t('home.list_author')}

  if author_list.length
    ul
      each author in author_list
        li
          a(href=`/authors/${author.id}`) #{author.name}
          |  (#{author.dateOfBirth} - #{author.dateOfDeath})
  else
    p #{t('home.no_author')}
